/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image:
    linear-gradient(to right bottom, #7ed56fcc, #28b485cc),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 35px;
}

.logo {
  height: 100%;
  user-select: none;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  user-select: none;
  text-align: center;

  /* ! quick fix on animation blink issue */
  backface-visibility: hidden;

  /* ! those percentages are from its own width / height */
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  --start-x: -100px;
  --before-end-x: 10px;

  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation: fade-in 1s ease-out;
}

.heading-primary-sub {
  --start-x: 100px;
  --before-end-x: -10px;

  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: fade-in 1s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform:
      translateX(var(--start-x, 0))
      translateY(var(--start-y, 0));
  }

  80% {
    transform:
      translateX(var(--before-end-x, 0))
      translateY(var(--before-end-y, 0));
  }

  to {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
}

.btn:link,
.btn:visited {
  --start-y: 30px;
  --before-end-y: -3px;

  -webkit-user-drag: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  position: relative;

  transition: all 0.2s;

  animation: fade-in 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;

  /* will be using alongside with text-align: center on the parent */
  display: inline-block;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* animation flickering https://dev.to/linxea/css-flicker-on-hover-5gj5 */
.btn:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: -3px;
  z-index: -1;
  background: transparent;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn-white::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: white;
  transition: all 0.4s;
}

.btn-white:hover::before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
