@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;

  // ? those percentages are from an element's own width / height
  transform: translate(-50%, -50%);
}

// ? Desktop-First responsive design
// >= 1801px       -> Big desktop
// 1201px - 1800px -> Desktop (start)
// 901px  - 1200px -> Tablet landscape
// 601px  - 900px  -> Tablet portrait
// 0px    - 600px  -> Phone

// ! WARNING: `em` and `rem` units in media queries
// ! are directly affected by a user-agent font-size (user setting one)
// ! more info: https://zellwk.com/blog/media-query-units/

// * Assuming that the user-default font size is 16px.

@mixin responsive($device) {
  @if $device == big-desktop {
    @media only screen and (min-width: 112.5625em) { @content; }
  } @else if $device == tab-land {
    @media only screen and (max-width: 75em) { @content; }
  } @else if $device == tab-port {
    @media only screen and (max-width: 56.25em) { @content; }
  } @else if $device == phone {
    @media only screen and (max-width: 37.5em) { @content; }
  }
}
