*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: $color-grey-dark;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;

  // ! Specifying a rigid root font-size will only make
  // ! the page's font unresizable when the user-agent font size is changed.
  // ! Therefore, you should instead assign a relative value
  // ! to let the browser do the calculation.

  // * Assuming that the user-default font size is 16px.
  // * so 62.5% of 16px = 10px

  font-size: 0.625rem;

  @include responsive(big-desktop) { font-size: 0.75rem;   }
  @include responsive(tab-land)    { font-size: 0.5625rem; }
  @include responsive(tab-port)    { font-size: 0.5rem;    }
}

body {
  padding: 3rem;

  @include responsive(tab-port) {
    padding: 0;
  }
}

::selection {
  color: $color-white;
  background-color: $color-primary;
}
