.heading-primary {
  margin-bottom: 6rem;

  color: $color-white;
  text-transform: uppercase;

  &-main {
    --from-x: -10rem;
    --to-x: 1rem;

    display: block;

    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: fade 1s ease-out;

    @include responsive(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &-sub {
    --from-x: 10rem;
    --to-x: -1rem;

    display: block;

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: fade 1s ease-out;

    @include responsive(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

// ? gradient text (only works for chrome and safari now)
.heading-secondary {
  display: inline-block;

  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  background-image:
    linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;

  transition: all 0.2s;

  @include responsive(tab-port) { font-size: 3rem;   }
  @include responsive(phone)    { font-size: 2.5rem; }

  &:hover {
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    transform: skewX(15deg) skewY(2deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
