.container {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 1fr) 130px;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-areas:
    'header header header header'
    '.      .      .      sidebar'
    'main   main   main   sidebar'
    'footer footer footer footer';
}

header { grid-area: header  }
main   { grid-area: main    }
aside  { grid-area: sidebar }
footer { grid-area: footer  }
