.btn {
  --from-y: 3rem;
  --to-y: -0.3rem;

  padding: 1.5rem 4rem;

  display: inline-block;

  position: relative;

  color: $color-grey-dark;
  font-size: $default-font-size;
  text-transform: uppercase;
  text-decoration: none;

  // just in case when using <button> element
  border: none;
  border-radius: 10rem;

  cursor: pointer;
  -webkit-user-drag: none;

  // animating
  transition: all 0.2s;
  animation: fade 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-0.3rem);
  }

  // ? animation flickering https://dev.to/linxea/css-flicker-on-hover-5gj5
  &:hover::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    bottom: -0.3rem;
    left: 0;
    right: 0;

    background: transparent;
  }

  &:active {
    // just in case when using a form button
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

    transform: translateY(-0.1rem);
  }

  &.btn-white,
  &.btn--green {
    background-color: $color-white;

    &::before {
      content: '';

      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: $color-white;

      border-radius: inherit;

      transition: all 0.4s;
    }

    &:hover::before {
      opacity: 0;
      transform: scaleX(1.4) scaleY(1.6);
    }
  }

  &.btn--green {
    color: $color-white;

    background-color: $color-primary;

    &::before {
      background-color: $color-primary;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    padding: 0.3rem;

    display: inline-block;

    color: $color-primary;
    font-size: $default-font-size;
    text-decoration: none;

    border-bottom: 1px solid currentColor;

    transition: all 0.2s;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
