.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    width: 90%;
    padding: 1.5rem 2rem;

    display: block;

    // ? to fix browser defaults input styling
    color: inherit;
    font-family: inherit;
    font-size: 1.5rem;

    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 2px;

    background-color: rgba($color-white, 0.5);

    transition: all 0.3s;

    @include responsive(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    }

    // ? simple form validation styling
    &:focus:invalid {
      border-color: $color-secondary-dark;
    }

    // ? styling input placeholder
    &::placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    margin-left: 2rem;
    margin-top: 0.7rem;

    display: block;

    font-size: 1.2rem;
    font-weight: 700;

    transition: all 0.3s;
  }

  // ! experimental
  // ! description: select label before entering any input on <text> or <textarea>
  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;                        // or use float instead
    display: inline-block;

    @include responsive(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-label {
    padding-left: 3.8rem;              // for custom radio button
    position: relative;
    font-size: $default-font-size;
    cursor: pointer;
  }

  &__radio-input {
    display: none;
  }

  // ? custom radio button
  &__radio-button {
    height: 3rem;
    width: 3rem;

    display: inline-block;

    position: absolute;
    left: 0;

    border: 5px solid $color-primary;
    border-radius: 50%;

    // ? an element when checked
    &::before {
      @include absolute-center;

      content: '';

      width: 1.3rem;
      height: 1.3rem;

      display: block;

      background-color: $color-primary;
      border-radius: 50%;

      opacity: 0;                      // initially hidden

      transition: opacity 0.2s;
    }
  }

  // ? Custom radio button
  // ? required: radio input with label
  &__radio-input:checked ~ &__radio-label &__radio-button::before {
    opacity: 1;
  }
}
