@keyframes fade {
  from {
    opacity: 0;
    transform:
      translateX(var(--from-x, 0))
      translateY(var(--from-y, 0));
  }

  80% {
    transform:
      translateX(var(--to-x, 0))
      translateY(var(--to-y, 0));
  }

  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
