.header {
  height: 95vh;

  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  background-size: cover;
  background-position: top;
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
    url(#{$img}/hero-small.jpg);

  @include responsive(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  // ? 2x :: retina display
  @media only screen and (min-width: 37.5em) and (min-resolution: 2x),
         only screen and (min-width: 112.5625em) {
    background-image:
      linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
      url(#{$img}/hero.jpg);
  }

  .logo-box {
    height: 3.5rem;

    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  .logo {
    height: 100%;
    user-select: none;
  }

  .text-box {
    @include absolute-center;

    user-select: none;
    text-align: center;

    // ? try this property if you have a weird animation issue.
    backface-visibility: hidden;
  }
}
